@layer starlight, rapdie;

.site-title {
  font-size: 1rem;
  color: var(--sl-color-acccent-low);
}

header.header {
  backdrop-filter: blur(16px);
  background-color: transparent;
}

/* Rapide Customization */

:root {
  --sl-color-text-accent: var(--sl-color-purple);
  --sl-color-accent-high: var(--sl-color-purple-high);

  --sl-color-green: var(--sl-color-purple);
  --sl-color-green-low: var(--sl-color-purple-low);
  --sl-color-green-high: var(--sl-color-purple-high);
  --sl-color-green-accent: var(--sl-color-purple-accent);
  --sl-color-green-accent-invert: var(--sl-color-purple-accent-invert);
}

.sl-link-button {
  &.primary {
    border: 1px solid var(--sl-color-purple);
  }
}
